<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center" class="mb-5">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <label for="exampleInputEmail1">Github user name:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter user name"
          [(ngModel)]="userName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="exampleInputEmail1">Github user repository:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter user repository name"
          [(ngModel)]="userRepo">
      </div>
    </div>
    
    <div class="col-3">
        <div class="form-group" style="margin-top: 32px;">
          <button [disabled]="loading" type="button" class="btn btn-primary" (click)="getInfo()">Get Info of Repository</button>
        </div>
      </div>
  </div>
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="!loading">
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
    <div *ngIf="!errorMessage">
      <h2>Commit History</h2>
      <div class="row">
        <div class="col-12">
          <div class="commit-item" *ngFor="let item of commits; let i=index;">
            <h3 class="commit-title" (click)="selected = i">{{item.commit.message}}
              <small>({{getStringDate(item.commit.author.date)}})</small></h3>
            <div class="text-bold">
              Name: {{item.commit.committer.name}}
              Email: {{item.commit.committer.email}} <br />
            </div>
            <div *ngIf="i === selected">
              <h4>Detailed info: </h4>
              <code>{{item.commit | json}}</code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>